{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %}

    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel ="styleshhet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% endblock %}


    <title>{% block title %}
            {% endblock %}
    </title>

</head>
<body>

    {% block content%}



        <h1>Hello world</h1>

{% endblock %}
    



    {% block scripts%}

        {{ super() }}
        <script src="https://kit.fontawesome.com/31149d48b0.js" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>